<footer class="footer">
    <!-- <div class="container"> -->
    <div class="footerHeader"></div>
    <div class="container">
        <div class="col-md-6">
            <h3>О нас</h3>
            Роботы, конструкторы, наборы, запчасти и комплектующие для самостоятельной сборки роботов,
            компоненты для робототехники, мехатроники, занимательная электроника и электроника для умного
            дома на базе микроконтроллеров Arduino (Ардуино) и Raspberry (Малина), Orange Pi -
            это основное направление нашего интернет магазина. Здесь вы можете купить как готового робота,
            так и собрать самостоятельно из предложенных компонентов и запасных частей Pololu, DFRobot,
            Seeed Studio, Gekko, Feetech, Tamiya.</br>
            Быстрая и недорогая доставка товара Москва, Санкт-Петербург, Новосибирск, Екатеринбург,
            Нижний Новгород, Казань, Челябинск, Омск, Самара, Ростов-на-Дону и другие города России и СНГ.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Местоположение </h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3040.973941471022!2d44.07630519192347!3d56.30736637695698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1503247170305"
                    width="540" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- </div> -->
</footer>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!--footer-->
<footer class="footer1">
    <div class="container">
        <div class="row"><!-- row -->
            <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        <h1 class="title-widget">О нас</h1>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> О компании </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> История </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Корпоративные ценности </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Наши офисы </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Руководство </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Наши заказчики </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Партнеры </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Новости </a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        <h1 class="title-widget">Индустрия</h1>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Здравоохранение </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Телекоммуникации </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Ритейл </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Финансовая индустрия </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Энергетика </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Для дома</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Для развлечения </a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Новинки </a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->

            <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        <h1 class="title-widget">Карьера</h1>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Вакансии </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Наши преимущества </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Трудоустройство </a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> FAQ </a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- widgets column left end -->

            <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_recent_news"><!-- widgets list -->
                        <h1 class="title-widget">Контакты </h1>
                        <div class="footerp">
                            <h2 class="title-median">RobotShop</h2>
                            <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@robotshop.email</a></p>
                            <p><b>Helpline Numbers </b>
                               <b style="color:#ffc106;">(8AM to 10PM):</b> +7-999-999-99-99, +7-888-888-88-88 </p>
                            <p><b>Corp Office / Postal Address</b></p>
                            <p><b>Phone Numbers : </b>7777777777, </p>
                            <p> 011-27568832, 9868387223</p>
                        </div>

                        <div class="social-icons">
                            <ul class="nomargin">
                                <a href="https://www.facebook.com/bootsnipp">
                                    <i class="fa fa-facebook-square fa-3x social-fb" id="social"></i>
                                </a>
                                <a href="https://twitter.com/bootsnipp">
                                    <i class="fa fa-twitter-square fa-3x social-tw" id="social"></i>
                                </a>
                                <a href="https://plus.google.com/+Bootsnipp-page">
                                    <i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i>
                                </a>
                                <a href="mailto:bootsnipp@gmail.com">
                                    <i class="fa fa-envelope-square fa-3x social-em" id="social"></i>
                                </a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2017 RobotShop © Все права защищены
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#">Франшиза </a> | <a target="_blank" href="#">Web Design &
                    Development by Webenlance</a>
                </div>
            </div>
        </div>
    </div>
</div>
